/*Importation des polices */



/* CORPS DU DOCUMENT*/

body{
    background-color: white; /* Couleur fond du document*/

}


/* HEADER*/

/* BANDEAU BLANC */
.container_1{
    background-color: white; /* Couleur du fond d'écran de la bordure*/
    width: 1200px;
    height: 150px;
    border: 1px solid #FAEEE7;
    margin: 0px auto;
    display: flex;
    align-items: center;

}

/* BARRE DE NAVIGATION*/

/*Securite Aide et Mon espace*/
#navbarHeader  {
    list-style-type: none; /* On enlève la liste à puce */
    font-size: 20px; /* Taille de police */
    margin-left: 450px; /* Marge à gauche défini pour espacer la barre du logo*/
    font-family: "Inter";

}

/*Securite Aide */
#navbarHeader a {
    text-decoration: none; /* On enlève le soulignement des liens dans la liste*/
    color: #850002;
    margin-left: 50px; /* On défini une marge pour espacer chaque lien*/
    font-family: "Inter";

}

/*Securite Aide et Mon espace */
#navbarHeader li{
    display: inline; /* Pour aligner en line les li */
    justify-content: space-between; /* Pour espacer les éléments */
    flex-direction: row; /*Pour mettre en ligne */
    font-family: "Inter";

}


/*BOUTON ENCADRE */

/*Mon espace*/
.btn_id {
    border: 10px solid #FAEEE7;
    background-color: #FAEEE7;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-size: 16px;
    color: #850002;
    margin-left: 50px;
    font-family: "Inter";

}

/* HOVER */

/*Hover de mon Espace*/
#Btn_Authentification :hover{
    transform: scale(1.1);
    cursor: pointer;

}

/*Hover securite*/
#Security:hover{
    text-decoration: underline;
}

/*Hover Aide*/
#menu_Aide:hover{
    text-decoration: underline;
}

/*SECTION*/

/*Bandeau*/

.Bandeau{
    background-color: #FAEEE7; /* Couleur du fond d'écran de la bordure*/
    width: 1200px;
    height: 800px;
    border: 1px solid white;
    margin: 0px auto;
    display: flex;

}

.Titre_page_Accueil{
    color: #850002;
    font-family: "Inter";
    width: 600px;
    height: 100px;
    left: 220px;
    top: 242px;
    font-weight: bold;
    position: absolute;
    font-size: 30px;



}

.Text_page_Accueil {
    color: #BC1717;
    font-family: "Inter";
    width: 452px;
    height: 51px;
    left: 220px;
    top: 290px;
    position: absolute;
    font-size: 22px;
    font-style: italic;


}

.Graphique_Accueil{
    position: absolute;
    width: 800px;
    height: 1000px;
    left: 450px;
    top: 100px;
    animation-delay: 3s;
}


