<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBemr96VcUDP_CPIh3xTUD2FX6a3X-KN0c&callback=initMap" type="text/javascript"></script>
    <title>Carte</title>
    </head>
    <body>
        <div id="map" style="width:500px; height:500px; border:1px solid black;"></div>
        <script type="text/javascript">
            let map = new google.maps.Map(document.getElementById("map"),{
                center: {lat:48.833, lng:2.333},
                zoom:8
            });
        </script>
    </body>
</html>