body {
    text-align:center;
    background:black;
    color :white;
    font-family: 'Source Sans Pro', sans-serif;
}
 
#space { display:none; width:100%; height:100%; z-index: 1;}
#game { position:absolute; left:30px; z-index: 100; }
 
.star {
    z-index: 1;
    background: #fff;
    position: absolute;
    -webkit-animation: blinkAnim 5s infinite;
    -moz-animation: blinkAnim 5s infinite;
    -ms-animation: blinkAnim 5s infinite;
    -o-animation: blinkAnim 5s infinite;
    animation: blinkAnim 5s infinite;
}
 
@keyframes blinkAnim {
    from { opacity: 1; }
    50%   { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes blinkAnim {
    from { opacity: 1; }
    50%   { opacity: 0; }
    to   { opacity: 1; }
}
